prefix=${HOME}/.npm-global
strict-ssl=false
spin=false
spinner=true
loglevel=warn
registry=https://registry.npmjs.org/
//registry.npmjs.org/:_authToken=085be668-6d0a-488c-ab90-6bd3e488f343
init.author.name=Dmitri Zaitsev
init.author.email=dmitri14@gmail.com
init.author.url=https://github.com/dmitriz
init.author.description="My default description"
init.author.repository="https://github.com/dmitriz/"
